<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LOTROChatNarrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <LOTROChatNarrator.Properties.Settings>
            <setting name="ExcludeSelf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcludeChannel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Replacements" serializeAs="String">
                <value />
            </setting>
            <setting name="Exclusions" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludeIsWhitelist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcludeUsesRegex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableCombatParsing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastVersionSave" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="CombatReportPeriod" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ReportDPS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReportDPSIn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReportPetDPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReportPetDPSIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReportHealingIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReportHealingOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PetNames" serializeAs="String">
                <value>Archer,Warrior,Bannerguard,Protector,Sage,Herbalist</value>
            </setting>
            <setting name="DistributedAnnounce" serializeAs="String">
                <value />
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VoiceName" serializeAs="String">
                <value />
            </setting>
            <setting name="AccelerateVoice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeDelayMessages" serializeAs="String">
                <value />
            </setting>
            <setting name="AssumeNonChatIsCombat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomOutput" serializeAs="String">
                <value>0</value>
            </setting>
        </LOTROChatNarrator.Properties.Settings>
    </userSettings>
</configuration>
