<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WTTMW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WTTMW.Properties.Settings>
            <setting name="SavedMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AttemptsEver" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CorrectEver" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttemptsSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CorrectSettings" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttemptsToday" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CorrectToday" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimeLastDayReset" serializeAs="String">
                <value>1873-01-21</value>
            </setting>
        </WTTMW.Properties.Settings>
    </userSettings>
</configuration>